
.head {
	padding-top: 25px;
  padding-bottom: 50px;
	float: left;
  width: 100%;
  background: red ;

}

.head.tile {
  background: url('../img/tile/1450x600-tile-head.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.head.ceramics {
  background: url('../img/ceramics-page-head.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.head.paintings {
  background: url('../img/fineArt/775x450-fineArt-head.jpg') no-repeat center center;
 /* background: url('../img/miller-feature.jpg') no-repeat center center;*/
  background-size: cover;
  background-attachment: fixed;
}

.head.cutlery {
  background: url('../img/cutlery/1450x600-cutlery-head.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.head.jewelry {
  background: url('../img/jewelry/1450x600-jewelry-head.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.head.textile {
  background: url('../img/textile/1450x600-wren-head.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.head .featured {
	width: 57%;
	float: left;
	margin-left: 5%;
	overflow: hidden;


}

.head .text {
	width: 90%;
	float: left;
  font-size: 10px;
	margin-left: 5%;
  margin-top: 50px;
  padding-bottom: 25px;
}

.head .text.white {
  color: white;
}

.head h1 {
  color: tomato;
}

.head p {
	padding-top: 25px;
	width: 100%;
  font-size: 14px;
}

.content {
  background: white;
}

.medium-options {
 padding-top: 50px;
 float: left;
 width: 100%;
}

.medium-options ul {
	padding-top: 25px;

}

.medium-options li {
  width: 32.5%;
  height: 75px;
  float: left;
  margin-right: 1%;
  margin-bottom: 5px;
  padding-top: 33px;
  text-align: center;
  /*background: #66FF99;*/
  background: #202020;
  font-weight: bold;
  color: white;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
/*  border-right: 3px solid #66CC99;
  border-bottom: 3px solid #66CC99;*/
  border-bottom: 3px solid #282828 ;
  border-right: 3px solid #282828 ;

}

.medium-options li:hover {
  background: #720913;
  border-bottom: 3px solid #CC0033;
  border-right: 3px solid #CC0033;

}

.medium-options li a {  
  height: 100%;
  width: 100%;
}

.medium-options li.shop {
  background: tomato;
  border-right: 3px solid #CC0033;
  border-bottom: 3px solid #CC0033;
}

.medium-options li.shop:hover {
  background: #CC0000;
  border-bottom: 3px solid #990033;
  border-right: 3px solid #990033;
}

/* GALLERY HEADER*/

.gallery {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  margin-top: 50px;
  padding-bottom: 100px;

}

.gallery-head {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*float: left;*/
}

.gallery-head img {
  width: 100%;
  padding-bottom: 50px;

}

.gallery-selectors ul {

  padding-left: 25px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  float: left;

}

.gallery-selectors li {

  margin-right: 5px;
  margin-top: 5px;
  width: 20%;
  float: left;
}


.rows-head {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: tomato;
  padding-top: 50px;
}

.rows-head h1 {
  font-weight: lighter;
}


.row {
  float: left;
  margin-left: 4%;
  margin-top: 50px; 
  padding-bottom: 50px;
  width:90%;
  overflow: hidden;

}



.row .text {
  padding-left: 0%;
  width: 100%;
  float: left;
/*  background: gold;*/

}

.row h1 {
  color: #006666;
  font-weight: lighter;
}

.row .paragraphs{
  padding-top: 25px;
}

.row .text p {
  width: 100%;
  padding-top: 10px;
  font-size: 14px;
  text-align: justify;
}

.row .main-img  {
  width: 100%;
  padding: 0;

}

img.head {
  padding: 0;
}

.row .selections li {
  float: left;
  width: 20%;
  margin-top: 25px;
  margin-right: 5px;

}

.next {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
 
}

.next img {


}

.up {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;

}


@media (min-width: 450px){

  .head .text {
  width: 80%;
  font-size: 15px;
  margin-left: 20%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.head p {
  padding-top: 25px;
  width: 70%;
  font-size: 18px;
}

.gallery-head {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.gallery-selectors ul {

  padding-left: 25px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  float: left;

}


	
}/*END 450 PX*/

@media (min-width: 1000px){
   .head .text {
  width: 35%;
  margin-left: 60%;
  margin-top: 200px;
  padding-bottom: 75px;
}

.head p {
  padding-top: 25px;
  width: 90%;
  font-size: 20px;
}

.row .main-img  {
  width: 60%;
  float: left;
  padding: 0;
  padding-top: 85px;

}

.row .text {
  padding-left: 4%;
  width: 40%;
  float: left;


}

.row .text p {
  width: 90%;
  font-size: 18px;

}


}