nav {
  width: 100%;
  padding-top: 25px;
  float: left;
/*  background: white;*/

}

nav ul {
  float: left;
  padding-left: 25px;
  /*background: white;*/
}

nav li {
  text-align: center;
  display: inline;
  padding-right: 15px;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
}

nav li:hover {
  color: #707070 ;
}

nav .options {
  display: inline;


}

nav .options ul {
  background: #202020;
  width: 100px;
  position: absolute;
  margin-top: 25px;
  margin-left: -75px;
  padding-bottom: 5px;
  display: none;


}

nav li.collections a{
  text-decoration: none;
  color: black;
}

nav .options ul a {
  float: none;
   width: 100%;


}

nav .options ul a li {
  float: none;
  display: inline-block;
  text-align: left;
  margin-left: -15px;
  width: 100%;
  font-size: 10px;
  color: white;


}

nav .options ul a :hover {
  color: tomato;
 
}

.menu .logo {
  width: 150px;
  float: left;
  margin-left: 4%;
  margin-top: -25px;
}


@media (min-width: 530px){
  
      nav ul {
      float: right;
      padding-right: 5%;
      /*background: white;*/
    }

      nav li{
        padding-right: 25px;
        font-size: 15px;
        text-align: center;
      }


      nav .options ul {
      width: 120px;
      margin-top: 25px;
      margin-left: -113px;
      padding-bottom: 5px;
      display: none;


    } 

    nav .options ul a li{
        text-align: center;
        padding-left: 0px;
        width: 100%;
        font-size: 12px;
        color: white;

    }


}

