.members-head {
	width: 100%;
	padding-top: 100px;
}

.members-head h1 {
	text-align: center;
	color: tomato;
}

.members {
	float: left;
	width: 90%;
	margin-left: 7%;
	margin-top: 25px;
}

.member {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;

}

.member-text{
	margin-top: -75px;
	padding-left: 15px;
	width: 100%;
	

}

.member-text h2 {
	color: tomato;
	font-weight: bold;
	font-size: 12px;

}

.member-text h3{
	color: white;
	font-weight: lighter;
	font-size: 12px;
}

/*.member:hover {

	border: 3px solid #66CC99;
}*/

@media (min-width: 450px){

	.member {
	width: 30%;
	height: auto;
	/*height: 400px;*/
	float: left;
	margin-right: 10px;
	margin-top: 35px;


}

.member-text{
	margin-top: -75px;
	padding-left: 25px;
	width: 100%;
	

}

.member-text h2 {
	color: tomato;
	font-weight: 400;
	font-size: 24px;

}

.member-text h3{
	color: white;
	font-weight: lighter;
	font-size: 18px;
}

}