.menu {
  width: 100%;
  position: absolute;
  padding-top: 25px;
}

nav {
  width: 100%;
  padding-top: 5px;
  float: left;
}

nav#home {
  width: 100%;
}

nav ul {
  list-style: none;
  float: right;
  position: relative;
  display: inline-table;
  z-index: 10;
  padding-right: 2%;
}

  nav ul:after{
    content: '';
    clear: both;
    display: block;
  }

nav ul li {
  float: left;
  padding-right: 15px;
}

  nav ul li:hover {
    cursor: pointer;
  }

  nav ul li:hover > ul{
    display: block;
  }

nav ul li {
  display: block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 7px;
}

.nav-white ul li {
  color: white;
}

  nav ul li:hover{
    color: tomato;
    font-weight: bold;
  }

nav ul ul {
  display: none;
  background: white;
  border-radius: 0px;
  padding: 0;
  margin-left: 0;
  position: absolute;
  top: 100%;
  width: 22%;
}

nav ul ul li {
  float: none;
  position: relative;
  width: 100%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: none;
  background: #202020;
  color: white;
}

.menu .logo {
  width: 10%;
  float: left;
  margin-left: 4%;
  margin-top: -25px;
}


/*MEDIA QUERIES*/

@media (min-width: 530px) {
  nav {
    width: 85%;
  }
  nav ul {
    padding-right: 6%;
  }

  nav ul li {
    padding-right: 30px;
  }

  nav ul li {
    font-size: 14px;
  }
}
