<div class="menu" data-ng-controller="NavController">

  <img class="logo" data-ng-click="redirect('')" src = "https://s3-us-west-2.amazonaws.com/studio-redfield/img/logo-light.png"/>

  <nav>
    <ul>
      <li data-ng-click="redirect('')">Home</li>
      <li data-ng-click="redirect('artists')">Artists</li>
      <li>Collections
        <ul>
          <li data-ng-click="redirect('ceramics')">Ceramics</li>
          <li data-ng-click="redirect('tile')">Tile</li>
          <li data-ng-click="redirect('paintings')">Fine Art</li>
          <li data-ng-click="redirect('textile')">Textile</li>
          <li data-ng-click="redirect('jewelry')">Jewelry</li>
          <li data-ng-click="redirect('cutlery')">Cutlery</li>
        </ul>
      </li>
      <li data-ng-click="redirect('contact')">Contact</li>
    </ul>
  </nav>
</div><!--END MENU-->
