<section data-ng-app="MainController">
	<section data-nav-head></section>
	<div class = "content">
		<div class ="members-head">
			<h1>Members</h1>
		</div>

		<div class = "members">
			<div class="member">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/susanne-profile.jpg"/>
				<div class="member-text">
					<h2>Susanne Redfield</h2>
					<h3>Artist/Founder</h3>
				</div>
			</div>
			<div class="member">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/randy-profile.jpg"/>
				<div class="member-text">
					<h2>Randy Redfield</h2>
					<h3>Artist/Founder</h3>
				</div>
			</div>
			<div class="member">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/maren-profile.jpg"/>
				<div class="member-text">
					<h2>Maren Burck</h2>
					<h3>Artist</h3>
				</div>
			</div>
			<div class="member">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/default-profile.jpg"/>
				<div class="member-text">
					<h2>Sue Burck</h2>
					<h3>Artist</h3>
				</div>
			</div>
			<div class="member">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/default-profile.jpg"/>
				<div class="member-text">
					<h2>Laura Campbell</h2>
					<h3>Artist</h3>
				</div>
			</div>

			<div class="member">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/default-profile.jpg"/>
				<div class="member-text">
					<h2>Kyle Kotaich</h2>
					<h3>Artist</h3>
				</div>
			</div>

			<div class="member">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/default-profile.jpg"/>
				<div class="member-text">
					<h2>David Csisko</h2>
					<h3>Artist</h3>
				</div>
			</div>
			<div class="member">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/default-profile.jpg"/>
				<div class="member-text">
					<h2>Jim Newport</h2>
					<h3>Artist</h3>
				</div>
			</div>
		</div>
	</section><!-- End Content -->
</section>
