<section data-ng-controller="MainController">
	<section class="nav-white" data-nav-head></section>
	<section class = "head contact">
		<article class = "text white">
			<h1>Come Visit!</h1>
			<a href ="https://www.google.com/maps/search/183+E.Hood+St+Sisters,+Oregon/@44.290209,-121.549033,17z/data=!3m1!4b1" target = "blank">
					183 E.Hood St
					Sisters, Oregon
			</a>
			<p>
				<em>Phone</em>: 541-588-6332
			</p>
			<p>
				<em>Mailing Address</em>: PO Box 1393 Sisters 97759
			</p>
			<p>Or email us at <a href="mailto:info@studioredfield.com">info@studioredfield.com</a></p>
		</article>
	</section>	<!--END HEAD-->

	<section class = "content">
	</section><!--END CONTENT-->

</section>
