<section data-ng-controller="MainController">
	<section class="nav-white" data-nav-head></section>
	<div class = "head jewelry">
		<div class = "text white">
			<h1>Jewelry</h1>
			<p>We are now proud to feature hand crafted jewelry made by local artist Kristin Cahill under the brand name Lux Reve. These beautiful pieces. made using gold-filled wire, sterling silver and precious gemstones, will certainly shine on you. View more and learn about the artist below.
			</p>
		</div>
		<div class="next">
			<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/next-ocean.png"/>
		</div>
	</div>	<!--END HEAD-->

	<section class = "content">
		<div class = "gallery">
			<div class = "gallery-head">
				<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve1.jpg"/></li>
			</div>
			<div class ="gallery-selectors">
				<ul>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve1.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve2.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve3.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve5.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve6.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve7.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve8.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve9.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve10.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve11.jpg"/></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve12.jpg"/></li>
				</ul>
			</div>
		</div><!--END GALLERY SECTION-->

		<div class="next">
			<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/next.png"/>
		</div>

		<div class = "rows-head">
			<h1>Jewelry Artists</h1>
		</div>

		<div class="row cahill">
			<div class = "text">
				<h1>Kristin Cahill</h1>
				<p>Kristin Cahill, the owner and designer of LUX Reve, has always been a daydreamer that loves to play in the sun. This pairing led to the creation of her jewelry line;  ‘LUX’ refers to illumination while ‘Reve’ means to dream.
				</p>
				<p>
				Kristin was born in Ventura California, and it was there where her love for the sun began. As she grew up in the expansive outdoors of Bend Oregon, she was inspired by the nature around her and this is reflected in her jewelry’s chic, organic, style.
				</p>
				<p>
				All LUX Reve pieces are made from metals such as 14k gold-filled wire, sterling silver, and precious gemstones. She hopes that LUX Reve will be that special piece that makes you shine a little brighter and dream a little bigger when worn.
				</p>
				<div class="selections">
					<ul>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve9.jpg"/>
						</li>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve10.jpg"/>
						</li>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve11.jpg"/>
						</li>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve12.jpg"/>
						</li>
					</ul>
				</div>
			</div>

			<img class="main-img head" src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/jewelry/775x550-luxreve11.jpg"/>

		</div><!--end row-->

	</section><!--END CONTENT-->
</section>
