<section data-ng-controller="MainController">
	<section data-nav-head></section>
	<section class = "head textile">

		<div class = "text white">
			<h1>Textiles & Bags</h1>
			<p>
				You dont need to be in New York or San Fransisco to find hand made designer bags. Studio Redfield features hand crafted purses and bags constructed from materials such as water resistant wax fabric, retired persian rugs, bomber jackets, and even reconstructed oil paintings. View more below.
			</p>
		</div>

			<div class="next">
				<img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/next.png"/>
			</div>

		</section>	<!--END HEAD-->

	<div class = "content">
		<div class = "rows-head">
			<h1>Textile Artists</h1>
		</div>

		<section class="row wren">
			<div class = "text">
				<h1>WREN</h1>
				<p></p>

				<div class="selections">
					<ul>
						<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/textile/775x550-sb1.jpg"/></li>
						<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/textile/775x550-sb2.jpg"/></li>
						<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/textile/775x550-sb3.jpg"/></li>
						<li><img src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/textile/775x550-sb4.jpg"/></li>
					</ul>
				</div>
			</div>

			<img class="main-img head" src="https://s3-us-west-2.amazonaws.com/studio-redfield/img/textile/775x550-sb1.jpg"/>

		</section><!--end row-->

	</div><!--END CONTENT-->
</section>
